.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
}

.verticalSpace {
  margin-top: 1rem;
} 

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox label {
  margin-bottom: 0.25rem;
}

.inputBox input {
  padding: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.resultsTable {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.table th {
  text-align: left;
  min-width: 150px;
}

.table td:not(:last-child) {
  border-right: 1px solid;
}

.table td:not(:first-child), .table th:not(:first-child) {
  padding-left: 0.25rem;
}

.formSubmitButton {
  float: right;
  padding: 0.25rem;
  font-size: large;;
}

.headerImg {
  margin-bottom: 1rem;
  max-width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }
}

.spinner {
  border: 8px solid transparent;
  border-top: 8px solid rgb(var(--foreground-rgb));
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
